@import "main.css";

/* Results Area */
#results {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 200px;
}

/* Error Text */
#results span {
    align-self: center;
    justify-content: center;
    text-align: center;
}

#results img {
    height: 100px;
}