@import "main.css";
@import "results.css";
@import "footer.css";
@import "queue.css";

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: var(--main-color0);
}

/* Youtube Information Table */
table {
    background-color: var(--main-color4);
    width: 100%;
}

table tr td:first-child {
    text-align: right;
    width: 20%;
    padding-right: 5px;
    border-right: 2px solid black;
}

table tr td a:hover {
    color: var(--main-color0);
    transition: color 500ms;
    text-shadow: none;
}

/* Text Input Field */
form {
    padding: 15px;
    display: flex;
    justify-content: center;
}

form button[type=submit] {
    background-color: var(--main-color3);
    border: none;
    height: 100%;
}

form input[type=text] {
    height: 35px;
    width: 20%;
    border: none;
    padding: 0 10px;
}

form input[type=text]:focus {
    outline: none;
}
